@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  @apply bg-gray-800;
}

.toggle__dot {
  transition: all 0.3s ease-in-out;
  @apply bg-white;
}

input:checked ~ .toggle__dot {
  transform: translateX(100%);
  /* @apply bg-green-400; */
}

